.main {
    &__header {
        position: sticky;
        top: 0;
        background-color: green;
        display: flex;
        align-items: center;

        &--img {
            width: 3.5rem;
            height: auto;
            margin-right: 2rem;
        }

        &__link {
            font-size: larger;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: center;
    }
}
