.main {
    &__header {
        position: sticky;
        top: 0;
        background-color: #c7d75b;
        display: flex;
        align-items: center;

        &--img {
            width: 3.5rem;
            height: auto;
            margin-right: 2rem;
        }

        &__link {
            font-size: larger;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: center;
    }
}

body {
    background-color: #eef3ce;
}

.container {
    margin-left: 10rem;
    margin-right: 10rem;
}
